.class_button_cv {
    background-color: #3e46b8;
    padding: 10px;
    color: white;
    font-family: 'Open-sans', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

.class_button_cv:hover {
    background-color: #4f58ce;
}